/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/roboto-v29-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/roboto-v29-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/roboto-v29-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-900 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/roboto-v29-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v29-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
html{
box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

img{
  max-width: 100%;
  height: auto;
}

body{
  font-family: 'Roboto';
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
  color: #000;
  height:500vh;
  background: url(../img/background2.jpg) no-repeat center;
  z-index: -10;
  background-size: cover;
  padding-top: 250px;
}

.wrapper{
  max-width: 1600px;
  min-width: 200px;
  margin: 0 auto;
  padding: 25px;
}


.header{
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(19, 2, 2, 0.555);
}

.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 0px;
}

.header__logopic{
  width: 80px;
  height: 75px;
  background-color: rgba(255, 255, 255, 0.493);
}

/* .header__logo{
  width: 15%;
  left 20px;
} */

.header__list{
  display:flex;
  flex-wrap: wrap;
}

.header__item{
margin-right: 90px;
}

.header__item:last-child{
  margin-right: 25px;
}

.header__link{
  font-size: 20px;
  line-height: 23px;
  color: white;
  text-decoration: solid;
}

.header__link:hover,.header__link:focus,.header__link:active{
opacity: .50;
}


/*Header-styles end */

/* Intro styles start */

/* .intro{
background:linear-gradient( black,rgb(1, 1, 70) ) ; 
}
 */
.intro__tittle{
  margin-bottom: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  color:white
}

.intro__subtittle{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 10px;
}

.intro__subtittle_mobile{
  display: grid;
  grid-template-rows: repeat(2,1fr);
  justify-items: center;
}

.intro__list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-weight: 500;
  font-size: 30px;
  line-height: 65px;
  color:white;
  margin-left: 20px;
  margin-right: 5px;
}

.intro__photo{
  min-height: 300px;
  background: url(../img/photo.jpg) no-repeat;
  background-position: right;
  background-size: contain;
  min-width: 440px;
}

.wrapper__intro{
 border: 5px solid rgba(255, 255, 255, 0.699);
 background-color: rgb(0, 0, 0);
 padding-bottom: 20px;
 max-width: 1200px;
 min-width: 950px;
 margin: 0 auto;
}

/* Intro styles end */

/* skills styles start */
.skills{
  font-weight: 400;
  font-size: 35px;
  line-height: 40px;
  color:white;
  list-style: none;
}

.header__skills{
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color:white;
  margin-bottom: 20px;
}

.wrapper__skills{
  /* border: 1px solid rgb(148, 155, 148); */
  min-width: 950px;
}

.wrapper__skills{
  display: grid;
  grid-template-columns: repeat(3,1fr) ;
  grid-template-rows: repeat(4,1fr);
  column-gap: 10px;
  row-gap: 10px;
  align-items:center;
}

.wrapper__skills_mobile{
  display: flex;
  flex-wrap: wrap;
}

.skills__list{
  display: flex;
  justify-content:center ;
  align-items: center;
  text-align: center;
  padding-left: 20px;
  background-color: rgba(0, 0, 0, 0.699);
  border: 1px solid rgb(148, 155, 148);
  min-width: 290px;
  border-radius: 30px;
  min-height: 100px;
}

.wrapper__for__skills_section{
  /* background-color: rgb(37, 37, 37); */
}



/* skills styles end */


/* education styles start*/

